<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707195877058-mehp12k8bnr708kqsgi1o1m68kjektih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707195877058-mehp12k8bnr708kqsgi1o1m68kjektih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707195877058-td24el3b89u6j8uvm6t97poudju1r4tk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhDIWA3TZTrlwgZJLbroHaowHPPjUb8k</string>
	<key>GCM_SENDER_ID</key>
	<string>707195877058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donationApp</string>
	<key>PROJECT_ID</key>
	<string>nisha-sanjesh-donation</string>
	<key>STORAGE_BUCKET</key>
	<string>nisha-sanjesh-donation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707195877058:ios:b2c5e8e7d27a8eacdf2d5b</string>
</dict>
</plist>